numpy
pandas
sympy
scipy
sqlalchemy
matplotlib
seaborn
arviz
# tensorflow-macos
# tensorflow-metal  # Can have one of jax-metal or tensorflow-metal but not both
tensorflow-probability
tensorflow-datasets
tensorflow-decision-forests
# tensorflow-gnn
torch
torch-geometric
transformers
einops
accelerate
#xformers
pymde
scikit-learn
statsmodels
networkx
jaxlib==0.4.34  # Latest version
jax==0.4.34
jax-metal==0.1.1  # macOS 13+ 0.0.3, 14 0.0.4  # jax.numpy.linalg operations failing currently
lifelines
scikit-survival
matlabengine==23.2.1
flax
blackjax
optax
cvxpy
pzflow
# diffrax
# equinox
cvxpylayers
antlr4-python3-runtime
jupyter
jupyterlab
ipython
ipywidgets
jupytext
arxiv
pymc
# google-vizier  #  Conflict with SQLAlchemy 2.0 - works with 1.4
simpy
langchain
keras
# dowhy
# econml
# pygraphviz  # See https://stackoverflow.com/questions/69970147/how-do-i-resolve-the-pygraphviz-error-on-mac-os
streamlit
psycopg2