numpy
pandas
sympy
scipy
sqlalchemy
matplotlib
seaborn
arviz
tensorflow-macos
tensorflow-metal
tensorflow-probability
tensorflow-datasets
tensorflow-decision-forests
# tensorflow-gnn
torch
torch-geometric
transformers
einops
accelerate
#xformers
pymde
scikit-learn
statsmodels
networkx
jax==0.4.11
jaxlib==0.4.11
jax-metal==0.0.4  # Mac OS 13+ 0.0.3, 14 0.0.4
flax
blackjax
optax
cvxpy
cvxpylayers
antlr4-python3-runtime
jupyter
jupyterlab
ipython
ipywidgets
jupytext
arxiv
pymc
# google-vizier  #  Conflict with SQLAlchemy 2.0 - works with 1.4
simpy
# dowhy
# econml
# pygraphviz  # See https://stackoverflow.com/questions/69970147/how-do-i-resolve-the-pygraphviz-error-on-mac-os
