numpy
pandas
sympy
sqlalchemy
matplotlib
seaborn
arviz
tensorflow-macos
tensorflow-metal
tensorflow-probability
scikit-learn
statsmodels
networkx
jax
jaxlib
flax
blackjax
optax
cvxpy
# cvxpylayers
antlr4-python3-runtime
jupyter
ipython
ipywidgets
jupytext
arxiv
