numpy
pandas
sympy
sqlalchemy
matplotlib
seaborn
arviz
tensorflow-macos
tensorflow-metal
tensorflow-probability
tensorflow-datasets
tensorflow-decision-forests
# tensorflow-gnn
torch
torch-geometric
transformers
einops
accelerate
xformers
pymde
scikit-learn
statsmodels
networkx
jax
jaxlib
flax
blackjax
optax
cvxpy
# cvxpylayers
antlr4-python3-runtime
jupyter
jupyterlab
ipython
ipywidgets
jupytext
arxiv
pymc
